@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

:root { 
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dar: rgba(255,255,255,0);
  --primary-red: #ef4035
}

body {
  font-family: "Roboto Condensed" sans-serif;
}
/** Navbar **/ 

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-tansform: uppercase;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a.hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/****************** Header **********************/

.header-wrapper {
  position: relative; 
  background: url(https://api.time.com/wp-content/uploads/2014/09/83402599.jpg) no-repeat; 
  background-size: cover;
  background-position:center;
  height: 90vh
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.main-info h1 {
  color: var(--primary-orange);
}

.typed-text {
  font-size: 2rem;
  color: var(--primary-dark)
}

.btn-main-offer {
  border: 5px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 12px 12px 12px; 
  color: var(--primary-white);
  background-color: var(--primary-dark); 
}

/****************** About **********************/

.about { 
  flex-grow: 1;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f9ab00;
}

.about .intro {
  width: 100%;
  font-size: 14px;
  font-family: "Apple Chancery";
  color: green;
  text-align: center; 
}


.about .picture { 
  width: 20%;
  margin-top: auto;
  padding: 2px 2px 2px 2px; 
  display: flex;
  text-align: center;  
}

.about .picture img {
  width: 100%
}

/****************** Footer **********************/

footer {
  width: 100%;
  padding: 10px 0;
  text-align: center; 
}

footer img {
  max-width: 60px; 
}



/****************** Resume **********************/

.resume img {
  width: 100% 
}


/**************** Contact Me *******************/ 

